<a href="https://colab.research.google.com/github/MatheusDecarliGuarnieri/AnimaCursoExtensaoPython2022-2/blob/main/Segundo_Exemplo_Python_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Segundo exemplo de manipulação de dados usando Python Pandas Veremos inserção de dados, remoção de colunas, merge, gráficos

Autor: Henrique Poyatos e galera

Data: 9 e 10 de fevereiro de 2023

In [1]:
# Importando biblioteca pandas no Python
import pandas as pd

In [2]:
combustiveis_df = pd.read_excel("ca-2021-02.xlsx")
display(combustiveis_df.head())

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,GASOLINA,2021-11-01,6.799,NaN,R$ / litro,VIBRA ENERGIA
1,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,ETANOL,2021-11-01,5.299,NaN,R$ / litro,VIBRA ENERGIA
2,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,DIESEL,2021-11-01,5.549,NaN,R$ / litro,VIBRA ENERGIA
3,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,GASOLINA ADITIVADA,2021-11-01,6.899,NaN,R$ / litro,VIBRA ENERGIA
4,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,DIESEL S10,2021-11-01,5.649,NaN,R$ / litro,VIBRA ENERGIA

In [3]:
#Inserção simples de dado
combustiveis_df['Ativo'] = True

display(combustiveis_df.head())

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira,Ativo
0,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,GASOLINA,2021-11-01,6.799,NaN,R$ / litro,VIBRA ENERGIA,True
1,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,ETANOL,2021-11-01,5.299,NaN,R$ / litro,VIBRA ENERGIA,True
2,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,DIESEL,2021-11-01,5.549,NaN,R$ / litro,VIBRA ENERGIA,True
3,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,GASOLINA ADITIVADA,2021-11-01,6.899,NaN,R$ / litro,VIBRA ENERGIA,True
4,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,DIESEL S10,2021-11-01,5.649,NaN,R$ / litro,VIBRA ENERGIA,True

In [4]:
# Criar uma coluna "Obs" que tenha nela escrito "MELHOR CIDADE" quando a coluna Municipio for igual a SAO PAULO
combustiveis_df['Obs'] = ["MELHOR CIDADE" if municipio == 'SAO PAULO' else None for municipio in combustiveis_df['Municipio']]
display(combustiveis_df.loc[combustiveis_df['Municipio'].isin(['SAO PAULO','INDAIATUBA', 'CAMPINAS', 'SALTO']), ['Municipio', 'Obs']])

        Municipio            Obs
1601    SAO PAULO  MELHOR CIDADE
1602    SAO PAULO  MELHOR CIDADE
1603    SAO PAULO  MELHOR CIDADE
1604    SAO PAULO  MELHOR CIDADE
2607     CAMPINAS           None
...           ...            ...
165925  SAO PAULO  MELHOR CIDADE
165926  SAO PAULO  MELHOR CIDADE
166122  SAO PAULO  MELHOR CIDADE
166123  SAO PAULO  MELHOR CIDADE
166124  SAO PAULO  MELHOR CIDADE

[7742 rows x 2 columns]

In [5]:
# (por Leandro Rodrigues)
# como preencher uma coluna 'Valor de Venda - Status' que verifica o seguinte:
# se o valor de venda for maior que 6,5 reais, ele fala que tá Caro..caso contrário, está barato
import numpy as np

combustiveis_df['Status do Valor de Venda'] = np.where(combustiveis_df['Valor de Venda'] > 6.5, 'Caro', 'Barato')
display(combustiveis_df[['Revenda', 'Valor de Venda', 'Status do Valor de Venda']])

,Revenda,Valor de Venda,Status do Valor de Venda
0,POSTO ARAPIRACA LTDA,6.799,Caro
1,POSTO ARAPIRACA LTDA,5.299,Barato
2,POSTO ARAPIRACA LTDA,5.549,Barato
3,POSTO ARAPIRACA LTDA,6.899,Caro
4,POSTO ARAPIRACA LTDA,5.649,Barato
...,...,...,...
168404,COMERCIAL DE COMBUSTIVEL CACHOEIRINHA LTDA,5.859,Barato
168405,ABC DISTRIBUICAO DE PETROLEO LTDA,6.580,Caro
168406,ABC DISTRIBUICAO DE PETROLEO LTDA,4.740,Barato
168407,ABC DISTRIBUICAO DE PETROLEO LTDA,5.448,Barato
168408,ABC DISTRIBUICAO DE PETROLEO LTDA,6.580,Caro

In [9]:
# Calcular postos de gasolina por habitante temos na amostragem de 
# combustiveis nov/2021

num_habitantes_df = pd.read_csv("ibge_num_habitantes_estimado.csv", sep=";")
num_habitantes_df.rename(columns={"Estado":"Estado - Sigla"}, inplace = True)
display(num_habitantes_df)

         Municipio Estado - Sigla  NumHabitantes2021
0   BELO HORIZONTE             MG            2530701
1         CAMPINAS             SP            1223237
2     CAMPO GRANDE             MS             916001
3         CURITIBA             PR            1963726
4          GOIANIA             GO            1555626
5       INDAIATUBA             SP             260690
6            NATAL             RN             803739
7           PALMAS             TO             313349
8        PENAPOLIS             SP              64098
9     PORTO ALEGRE             RS            1492530
10     PORTO VELHO             RO             548952
11      RIO BRANCO             AC             419452
12  RIO DE JANEIRO             RJ            6775561
13    SALTO GRANDE             SP               9396
14          SANTOS             SP             433991
15       SAO PAULO             SP           12396372
16     SAO VICENTE             SP             370839
17     SERRA NEGRA             SP              29669

In [13]:
# Faz um MERGE dos dois dataframes
colunas = ['Municipio', 'Estado - Sigla']
merge_df = combustiveis_df.merge(num_habitantes_df, how="inner", on=colunas)
display(merge_df)
print(merge_df.info())

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira,Ativo,Obs,Status do Valor de Venda,NumHabitantes2021
0,CO,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,AVENIDA VEREADOR JOSE MONTEIRO,1854,QUADRA08 LOTE 11E,SETOR NEGRAO DE LIMA,74650-300,GASOLINA,2021-11-01,6.999,NaN,R$ / litro,RAIZEN,True,None,Caro,1555626
1,CO,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,AVENIDA VEREADOR JOSE MONTEIRO,1854,QUADRA08 LOTE 11E,SETOR NEGRAO DE LIMA,74650-300,ETANOL,2021-11-01,4.990,NaN,R$ / litro,RAIZEN,True,None,Barato,1555626
2,CO,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,AVENIDA VEREADOR JOSE MONTEIRO,1854,QUADRA08 LOTE 11E,SETOR NEGRAO DE LIMA,74650-300,GASOLINA ADITIVADA,2021-11-01,7.130,NaN,R$ / litro,RAIZEN,True,None,Caro,1555626
3,CO,GO,GOIANIA,POSTO DO BOI LTDA,06.880.293/0001-25,AVENIDA INDEPENDENCIA,2.908,NaN,VILA NOVA,74645-010,GASOLINA,2021-11-01,6.990,NaN,R$ / litro,BRANCA,True,None,Caro,1555626
4,CO,GO,GOIANIA,POSTO DO BOI LTDA,06.880.293/0001-25,AVENIDA INDEPENDENCIA,2.908,NaN,VILA NOVA,74645-010,ETANOL,2021-11-01,4.990,NaN,R$ / litro,BRANCA,True,None,Barato,1555626
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20629,SE,SP,INDAIATUBA,POSTO DOS ESTEVES LTDA,20.763.169/0001-00,AVENIDA ITORORO,160,NaN,CENTRO,13330-055,GASOLINA,2021-12-28,6.499,NaN,R$ / litro,IPIRANGA,True,None,Barato,260690
20630,SE,SP,INDAIATUBA,ABDELNOR VI COMERCIO DE COMBUSTIVEIS LTDA,30.253.289/0001-11,AVENIDA PRESIDENTE KENNEDY,496,NaN,CIDADE NOVA I,13334-170,DIESEL S10,2021-12-28,5.499,NaN,R$ / litro,RAIZEN,True,None,Barato,260690
20631,SE,SP,INDAIATUBA,ABDELNOR VI COMERCIO DE COMBUSTIVEIS LTDA,30.253.289/0001-11,AVENIDA PRESIDENTE KENNEDY,496,NaN,CIDADE NOVA I,13334-170,GASOLINA ADITIVADA,2021-12-28,6.699,NaN,R$ / litro,RAIZEN,True,None,Caro,260690
20632,SE,SP,INDAIATUBA,ABDELNOR VI COMERCIO DE COMBUSTIVEIS LTDA,30.253.289/0001-11,AVENIDA PRESIDENTE KENNEDY,496,NaN,CIDADE NOVA I,13334-170,ETANOL,2021-12-28,4.899,NaN,R$ / litro,RAIZEN,True,None,Barato,260690
20633,SE,SP,INDAIATUBA,ABDELNOR VI COMERCIO DE COMBUSTIVEIS LTDA,30.253.289/0001-11,AVENIDA PRESIDENTE KENNEDY,496,NaN,CIDADE NOVA I,13334-170,GASOLINA,2021-12-28,6.299,NaN,R$ / litro,RAIZEN,True,None,Barato,260690

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20634 entries, 0 to 20633
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Regiao - Sigla            20634 non-null  object
 1   Estado - Sigla            20634 non-null  object
 2   Municipio                 20634 non-null  object
 3   Revenda                   20634 non-null  object
 4   CNPJ da Revenda           20634 non-null  object
 5   Nome da Rua               20634 non-null  object
 6   Numero Rua                20634 non-null  object
 7   Complemento               3837 non-null   object
 8   Bairro                    20634 non-null  object
 9   Cep                       20634 non-null  object
 10  Produto                   20634 non-null  object
 11  Data da Coleta            20634 non-null  datetime64[ns]
 12  Valor de Venda            20634 non-null  float64
 13  Valor de Compra           0 non-null      float64
 14  Unidade de Medida         20634 non-null  object
 15  Bandeira                  20634 non-null  object
 16  Ativo                     20634 non-null  bool
 17  Obs                       5220 non-null   object
 18  Status do Valor de Venda  20634 non-null  object
 19  NumHabitantes2021         20634 non-null  int64
dtypes: bool(1), datetime64[ns](1), float64(2), int64(1), object(15)
memory usage: 3.2+ MB
None

In [11]:
#Destruir coluna completamente vazia (todas as linhas são nulas)
merge_df.dropna(axis='columns', inplace=True)
print(merge_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20634 entries, 0 to 20633
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Regiao - Sigla            20634 non-null  object
 1   Estado - Sigla            20634 non-null  object
 2   Municipio                 20634 non-null  object
 3   Revenda                   20634 non-null  object
 4   CNPJ da Revenda           20634 non-null  object
 5   Nome da Rua               20634 non-null  object
 6   Numero Rua                20634 non-null  object
 7   Bairro                    20634 non-null  object
 8   Cep                       20634 non-null  object
 9   Produto                   20634 non-null  object
 10  Data da Coleta            20634 non-null  datetime64[ns]
 11  Valor de Venda            20634 non-null  float64
 12  Unidade de Medida         20634 non-null  object
 13  Bandeira                  20634 non-null  object
 14  Ativo                     20634 non-null  bool
 15  Status do Valor de Venda  20634 non-null  object
 16  NumHabitantes2021         20634 non-null  int64
dtypes: bool(1), datetime64[ns](1), float64(1), int64(1), object(13)
memory usage: 2.7+ MB
None

In [12]:
colunas=['Regiao - Sigla', 'Nome da Rua', 'Numero Rua', 
         'Bairro', 'Cep', 'Produto', 'Data da Coleta', 'Valor de Venda',
         'Unidade de Medida', 'Bandeira', 'Ativo', 'Status do Valor de Venda']
merge_df.drop(labels=colunas, axis=1, inplace=True)
print(merge_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20634 entries, 0 to 20633
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Estado - Sigla     20634 non-null  object
 1   Municipio          20634 non-null  object
 2   Revenda            20634 non-null  object
 3   CNPJ da Revenda    20634 non-null  object
 4   NumHabitantes2021  20634 non-null  int64
dtypes: int64(1), object(4)
memory usage: 967.2+ KB
None

In [14]:
# Remover a linhas duplicadas
merge_df.drop_duplicates(inplace=True)
display(merge_df.head(100))

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira,Ativo,Obs,Status do Valor de Venda,NumHabitantes2021
0,CO,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,AVENIDA VEREADOR JOSE MONTEIRO,1854,QUADRA08 LOTE 11E,SETOR NEGRAO DE LIMA,74650-300,GASOLINA,2021-11-01,6.999,NaN,R$ / litro,RAIZEN,True,None,Caro,1555626
1,CO,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,AVENIDA VEREADOR JOSE MONTEIRO,1854,QUADRA08 LOTE 11E,SETOR NEGRAO DE LIMA,74650-300,ETANOL,2021-11-01,4.990,NaN,R$ / litro,RAIZEN,True,None,Barato,1555626
2,CO,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,AVENIDA VEREADOR JOSE MONTEIRO,1854,QUADRA08 LOTE 11E,SETOR NEGRAO DE LIMA,74650-300,GASOLINA ADITIVADA,2021-11-01,7.130,NaN,R$ / litro,RAIZEN,True,None,Caro,1555626
3,CO,GO,GOIANIA,POSTO DO BOI LTDA,06.880.293/0001-25,AVENIDA INDEPENDENCIA,2.908,NaN,VILA NOVA,74645-010,GASOLINA,2021-11-01,6.990,NaN,R$ / litro,BRANCA,True,None,Caro,1555626
4,CO,GO,GOIANIA,POSTO DO BOI LTDA,06.880.293/0001-25,AVENIDA INDEPENDENCIA,2.908,NaN,VILA NOVA,74645-010,ETANOL,2021-11-01,4.990,NaN,R$ / litro,BRANCA,True,None,Barato,1555626
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,CO,GO,GOIANIA,AUTO POSTO DONA SANTA LTDA.,08.232.672/0001-34,AVENIDA T 63,1295,ESQUINA C/ AVENIDA T-15,NOVA SUIÇA,74280-235,GASOLINA,2021-11-04,7.270,NaN,R$ / litro,BRANCA,True,None,Caro,1555626
96,CO,GO,GOIANIA,AUTO POSTO DONA SANTA LTDA.,08.232.672/0001-34,AVENIDA T 63,1295,ESQUINA C/ AVENIDA T-15,NOVA SUIÇA,74280-235,DIESEL S10,2021-11-04,5.570,NaN,R$ / litro,BRANCA,True,None,Barato,1555626
97,CO,GO,GOIANIA,AUTO POSTO ANTENA 104 EIRELI,05.634.368/0001-25,RUA C 125,356,QD.219 LT.03,JARDIM AMERICA,74255-470,ETANOL,2021-11-04,5.150,NaN,R$ / litro,BRANCA,True,None,Barato,1555626
98,CO,GO,GOIANIA,AUTO POSTO ANTENA 104 EIRELI,05.634.368/0001-25,RUA C 125,356,QD.219 LT.03,JARDIM AMERICA,74255-470,GASOLINA,2021-11-04,7.190,NaN,R$ / litro,BRANCA,True,None,Caro,1555626
99,CO,GO,GOIANIA,AUTO POSTO ANTENA 104 EIRELI,05.634.368/0001-25,RUA C 125,356,QD.219 LT.03,JARDIM AMERICA,74255-470,DIESEL S10,2021-11-04,5.990,NaN,R$ / litro,BRANCA,True,None,Barato,1555626

In [15]:
#Agrupar e contar quantos postos tem na cidade..
postos_por_municipio_df = merge_df.groupby(by=['Estado - Sigla', 'Municipio', 'NumHabitantes2021']).count()
postos_por_municipio_df.drop('CNPJ da Revenda', axis=1, inplace=True)
postos_por_municipio_df.rename(columns={"Revenda": "Número de Postos"}, inplace=True)
display(postos_por_municipio_df)

                                                 Regiao - Sigla  \
Estado - Sigla Municipio      NumHabitantes2021
AC             RIO BRANCO     419452                       1090
GO             GOIANIA        1555626                      1667
MG             BELO HORIZONTE 2530701                       827
MS             CAMPO GRANDE   916001                       1606
PR             CURITIBA       1963726                      1291
RJ             RIO DE JANEIRO 6775561                      2445
RN             NATAL          803739                       1093
RO             PORTO VELHO    548952                        805
RS             PORTO ALEGRE   1492530                      1142
SP             CAMPINAS       1223237                      1605
               INDAIATUBA     260690                        562
               SANTOS         433991                        459
               SAO PAULO      12396372                     5220
               SAO VICENTE    370839                        453
TO             PALMAS         313349                        369

                                                 Número de Postos  \
Estado - Sigla Municipio      NumHabitantes2021
AC             RIO BRANCO     419452                         1090
GO             GOIANIA        1555626                        1667
MG             BELO HORIZONTE 2530701                         827
MS             CAMPO GRANDE   916001                         1606
PR             CURITIBA       1963726                        1291
RJ             RIO DE JANEIRO 6775561                        2445
RN             NATAL          803739                         1093
RO             PORTO VELHO    548952                          805
RS             PORTO ALEGRE   1492530                        1142
SP             CAMPINAS       1223237                        1605
               INDAIATUBA     260690                          562
               SANTOS         433991                          459
               SAO PAULO      12396372                       5220
               SAO VICENTE    370839                          453
TO             PALMAS         313349                          369

                                                 Nome da Rua  Numero Rua  \
Estado - Sigla Municipio      NumHabitantes2021
AC             RIO BRANCO     419452                    1090        1090
GO             GOIANIA        1555626                   1667        1667
MG             BELO HORIZONTE 2530701                    827         827
MS             CAMPO GRANDE   916001                    1606        1606
PR             CURITIBA       1963726                   1291        1291
RJ             RIO DE JANEIRO 6775561                   2445        2445
RN             NATAL          803739                    1093        1093
RO             PORTO VELHO    548952                     805         805
RS             PORTO ALEGRE   1492530                   1142        1142
SP             CAMPINAS       1223237                   1605        1605
               INDAIATUBA     260690                     562         562
               SANTOS         433991                     459         459
               SAO PAULO      12396372                  5220        5220
               SAO VICENTE    370839                     453         453
TO             PALMAS         313349                     369         369

                                                 Complemento  Bairro   Cep  \
Estado - Sigla Municipio      NumHabitantes2021
AC             RIO BRANCO     419452                     198    1090  1090
GO             GOIANIA        1555626                   1369    1667  1667
MG             BELO HORIZONTE 2530701                     32     827   827
MS             CAMPO GRANDE   916001                     170    1606  1606
PR             CURITIBA       1963726                    149    1291  1291
RJ             RIO DE JANEIRO 6775561                    375    2445  2445
RN             NATAL          803739                     270    1093  1093
RO             PORTO VELHO    548952                      28     805   805
RS             PORTO ALEGRE   1492530                    126    1142  1142
SP             CAMPINAS       1223237                    340    1605  1605
               INDAIATUBA     260690                      51     562   562
               SANTOS         433991                      59     459   459
               SAO PAULO      12396372                   384    5220  5220
               SAO VICENTE    370839                      12     453   453
TO             PALMAS         313349                     274     369   369

                                                 Produto  Data da Coleta  \
Estado - Sigla Municipio      NumHabitantes2021
AC             RIO BRANCO     419452                1090            1090
GO             GOIANIA        1555626               1667            1667
MG             BELO HORIZONTE 2530701                827             827
MS             CAMPO GRANDE   916001                1606            1606
PR             CURITIBA       1963726               1291            1291
RJ             RIO DE JANEIRO 6775561               2445            2445
RN             NATAL          803739                1093            1093
RO             PORTO VELHO    548952                 805             805
RS             PORTO ALEGRE   1492530               1142            1142
SP             CAMPINAS       1223237               1605            1605
               INDAIATUBA     260690                 562             562
               SANTOS         433991                 459             459
               SAO PAULO      12396372              5220            5220
               SAO VICENTE    370839                 453             453
TO             PALMAS         313349                 369             369

                                                 Valor de Venda  \
Estado - Sigla Municipio      NumHabitantes2021
AC             RIO BRANCO     419452                       1090
GO             GOIANIA        1555626                      1667
MG             BELO HORIZONTE 2530701                       827
MS             CAMPO GRANDE   916001                       1606
PR             CURITIBA       1963726                      1291
RJ             RIO DE JANEIRO 6775561                      2445
RN             NATAL          803739                       1093
RO             PORTO VELHO    548952                        805
RS             PORTO ALEGRE   1492530                      1142
SP             CAMPINAS       1223237                      1605
               INDAIATUBA     260690                        562
               SANTOS         433991                        459
               SAO PAULO      12396372                     5220
               SAO VICENTE    370839                        453
TO             PALMAS         313349                        369

                                                 Valor de Compra  \
Estado - Sigla Municipio      NumHabitantes2021
AC             RIO BRANCO     419452                           0
GO             GOIANIA        1555626                          0
MG             BELO HORIZONTE 2530701                          0
MS             CAMPO GRANDE   916001                           0
PR             CURITIBA       1963726                          0
RJ             RIO DE JANEIRO 6775561                          0
RN             NATAL          803739                           0
RO             PORTO VELHO    548952                           0
RS             PORTO ALEGRE   1492530                          0
SP             CAMPINAS       1223237                          0
               INDAIATUBA     260690                           0
               SANTOS         433991                           0
               SAO PAULO      12396372                         0
               SAO VICENTE    370839                           0
TO             PALMAS         313349                           0

                                                 Unidade de Medida  Bandeira  \
Estado - Sigla Municipio      NumHabitantes2021
AC             RIO BRANCO     419452                          1090      1090
GO             GOIANIA        1555626                         1667      1667
MG             BELO HORIZONTE 2530701                          827       827
MS             CAMPO GRANDE   916001                          1606      1606
PR             CURITIBA       1963726                         1291      1291
RJ             RIO DE JANEIRO 6775561                         2445      2445
RN             NATAL          803739                          1093      1093
RO             PORTO VELHO    548952                           805       805
RS             PORTO ALEGRE   1492530                         1142      1142
SP             CAMPINAS       1223237                         1605      1605
               INDAIATUBA     260690                           562       562
               SANTOS         433991                           459       459
               SAO PAULO      12396372                        5220      5220
               SAO VICENTE    370839                           453       453
TO             PALMAS         313349                           369       369

                                                 Ativo   Obs  \
Estado - Sigla Municipio      NumHabitantes2021
AC             RIO BRANCO     419452              1090     0
GO             GOIANIA        1555626             1667     0
MG             BELO HORIZONTE 2530701              827     0
MS             CAMPO GRANDE   916001              1606     0
PR             CURITIBA       1963726             1291     0
RJ             RIO DE JANEIRO 6775561             2445     0
RN             NATAL          803739              1093     0
RO             PORTO VELHO    548952               805     0
RS             PORTO ALEGRE   1492530             1142     0
SP             CAMPINAS       1223237             1605     0
               INDAIATUBA     260690               562     0
               SANTOS         433991               459     0
               SAO PAULO      12396372            5220  5220
               SAO VICENTE    370839               453     0
TO             PALMAS         313349               369     0

                                                 Status do Valor de Venda
Estado - Sigla Municipio      NumHabitantes2021
AC             RIO BRANCO     419452                                 1090
GO             GOIANIA        1555626                                1667
MG             BELO HORIZONTE 2530701                                 827
MS             CAMPO GRANDE   916001                                 1606
PR             CURITIBA       1963726                                1291
RJ             RIO DE JANEIRO 6775561                                2445
RN             NATAL          803739                                 1093
RO             PORTO VELHO    548952                                  805
RS             PORTO ALEGRE   1492530                                1142
SP             CAMPINAS       1223237                                1605
               INDAIATUBA     260690                                  562
               SANTOS         433991                                  459
               SAO PAULO      12396372                               5220
               SAO VICENTE    370839                                  453
TO             PALMAS         313349                                  369

In [16]:
#AQUI O FINAL ESTÁ COM PROBLEMA

#Agrupar e contar quantos postos tem na cidade..
postos_por_municipio_df = merge_df.groupby(by=['Estado - Sigla', 'Municipio', 'NumHabitantes2021']).count()
display(postos_por_municipio_df.info())
postos_por_municipio_df.drop('CNPJ da Revenda', axis=1, inplace=True)
postos_por_municipio_df.rename(columns={"Revenda": "NumPostos"}, inplace=True)

#postos_por_municipio_df['PostosPorHabitante'] = postos_por_municipio_df['NumPostos'] / postos_por_municipio_df['NumHabitantes2021']
display(postos_por_municipio_df)

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 15 entries, ('AC', 'RIO BRANCO', 419452) to ('TO', 'PALMAS', 313349)
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Regiao - Sigla            15 non-null     int64
 1   Revenda                   15 non-null     int64
 2   CNPJ da Revenda           15 non-null     int64
 3   Nome da Rua               15 non-null     int64
 4   Numero Rua                15 non-null     int64
 5   Complemento               15 non-null     int64
 6   Bairro                    15 non-null     int64
 7   Cep                       15 non-null     int64
 8   Produto                   15 non-null     int64
 9   Data da Coleta            15 non-null     int64
 10  Valor de Venda            15 non-null     int64
 11  Valor de Compra           15 non-null     int64
 12  Unidade de Medida         15 non-null     int64
 13  Bandeira                  15 non-null     int64
 14  Ativo                     15 non-null     int64
 15  Obs                       15 non-null     int64
 16  Status do Valor de Venda  15 non-null     int64
dtypes: int64(17)
memory usage: 2.5+ KB

None

                                                 Regiao - Sigla  NumPostos  \
Estado - Sigla Municipio      NumHabitantes2021
AC             RIO BRANCO     419452                       1090       1090
GO             GOIANIA        1555626                      1667       1667
MG             BELO HORIZONTE 2530701                       827        827
MS             CAMPO GRANDE   916001                       1606       1606
PR             CURITIBA       1963726                      1291       1291
RJ             RIO DE JANEIRO 6775561                      2445       2445
RN             NATAL          803739                       1093       1093
RO             PORTO VELHO    548952                        805        805
RS             PORTO ALEGRE   1492530                      1142       1142
SP             CAMPINAS       1223237                      1605       1605
               INDAIATUBA     260690                        562        562
               SANTOS         433991                        459        459
               SAO PAULO      12396372                     5220       5220
               SAO VICENTE    370839                        453        453
TO             PALMAS         313349                        369        369

                                                 Nome da Rua  Numero Rua  \
Estado - Sigla Municipio      NumHabitantes2021
AC             RIO BRANCO     419452                    1090        1090
GO             GOIANIA        1555626                   1667        1667
MG             BELO HORIZONTE 2530701                    827         827
MS             CAMPO GRANDE   916001                    1606        1606
PR             CURITIBA       1963726                   1291        1291
RJ             RIO DE JANEIRO 6775561                   2445        2445
RN             NATAL          803739                    1093        1093
RO             PORTO VELHO    548952                     805         805
RS             PORTO ALEGRE   1492530                   1142        1142
SP             CAMPINAS       1223237                   1605        1605
               INDAIATUBA     260690                     562         562
               SANTOS         433991                     459         459
               SAO PAULO      12396372                  5220        5220
               SAO VICENTE    370839                     453         453
TO             PALMAS         313349                     369         369

                                                 Complemento  Bairro   Cep  \
Estado - Sigla Municipio      NumHabitantes2021
AC             RIO BRANCO     419452                     198    1090  1090
GO             GOIANIA        1555626                   1369    1667  1667
MG             BELO HORIZONTE 2530701                     32     827   827
MS             CAMPO GRANDE   916001                     170    1606  1606
PR             CURITIBA       1963726                    149    1291  1291
RJ             RIO DE JANEIRO 6775561                    375    2445  2445
RN             NATAL          803739                     270    1093  1093
RO             PORTO VELHO    548952                      28     805   805
RS             PORTO ALEGRE   1492530                    126    1142  1142
SP             CAMPINAS       1223237                    340    1605  1605
               INDAIATUBA     260690                      51     562   562
               SANTOS         433991                      59     459   459
               SAO PAULO      12396372                   384    5220  5220
               SAO VICENTE    370839                      12     453   453
TO             PALMAS         313349                     274     369   369

                                                 Produto  Data da Coleta  \
Estado - Sigla Municipio      NumHabitantes2021
AC             RIO BRANCO     419452                1090            1090
GO             GOIANIA        1555626               1667            1667
MG             BELO HORIZONTE 2530701                827             827
MS             CAMPO GRANDE   916001                1606            1606
PR             CURITIBA       1963726               1291            1291
RJ             RIO DE JANEIRO 6775561               2445            2445
RN             NATAL          803739                1093            1093
RO             PORTO VELHO    548952                 805             805
RS             PORTO ALEGRE   1492530               1142            1142
SP             CAMPINAS       1223237               1605            1605
               INDAIATUBA     260690                 562             562
               SANTOS         433991                 459             459
               SAO PAULO      12396372              5220            5220
               SAO VICENTE    370839                 453             453
TO             PALMAS         313349                 369             369

                                                 Valor de Venda  \
Estado - Sigla Municipio      NumHabitantes2021
AC             RIO BRANCO     419452                       1090
GO             GOIANIA        1555626                      1667
MG             BELO HORIZONTE 2530701                       827
MS             CAMPO GRANDE   916001                       1606
PR             CURITIBA       1963726                      1291
RJ             RIO DE JANEIRO 6775561                      2445
RN             NATAL          803739                       1093
RO             PORTO VELHO    548952                        805
RS             PORTO ALEGRE   1492530                      1142
SP             CAMPINAS       1223237                      1605
               INDAIATUBA     260690                        562
               SANTOS         433991                        459
               SAO PAULO      12396372                     5220
               SAO VICENTE    370839                        453
TO             PALMAS         313349                        369

                                                 Valor de Compra  \
Estado - Sigla Municipio      NumHabitantes2021
AC             RIO BRANCO     419452                           0
GO             GOIANIA        1555626                          0
MG             BELO HORIZONTE 2530701                          0
MS             CAMPO GRANDE   916001                           0
PR             CURITIBA       1963726                          0
RJ             RIO DE JANEIRO 6775561                          0
RN             NATAL          803739                           0
RO             PORTO VELHO    548952                           0
RS             PORTO ALEGRE   1492530                          0
SP             CAMPINAS       1223237                          0
               INDAIATUBA     260690                           0
               SANTOS         433991                           0
               SAO PAULO      12396372                         0
               SAO VICENTE    370839                           0
TO             PALMAS         313349                           0

                                                 Unidade de Medida  Bandeira  \
Estado - Sigla Municipio      NumHabitantes2021
AC             RIO BRANCO     419452                          1090      1090
GO             GOIANIA        1555626                         1667      1667
MG             BELO HORIZONTE 2530701                          827       827
MS             CAMPO GRANDE   916001                          1606      1606
PR             CURITIBA       1963726                         1291      1291
RJ             RIO DE JANEIRO 6775561                         2445      2445
RN             NATAL          803739                          1093      1093
RO             PORTO VELHO    548952                           805       805
RS             PORTO ALEGRE   1492530                         1142      1142
SP             CAMPINAS       1223237                         1605      1605
               INDAIATUBA     260690                           562       562
               SANTOS         433991                           459       459
               SAO PAULO      12396372                        5220      5220
               SAO VICENTE    370839                           453       453
TO             PALMAS         313349                           369       369

                                                 Ativo   Obs  \
Estado - Sigla Municipio      NumHabitantes2021
AC             RIO BRANCO     419452              1090     0
GO             GOIANIA        1555626             1667     0
MG             BELO HORIZONTE 2530701              827     0
MS             CAMPO GRANDE   916001              1606     0
PR             CURITIBA       1963726             1291     0
RJ             RIO DE JANEIRO 6775561             2445     0
RN             NATAL          803739              1093     0
RO             PORTO VELHO    548952               805     0
RS             PORTO ALEGRE   1492530             1142     0
SP             CAMPINAS       1223237             1605     0
               INDAIATUBA     260690               562     0
               SANTOS         433991               459     0
               SAO PAULO      12396372            5220  5220
               SAO VICENTE    370839               453     0
TO             PALMAS         313349               369     0

                                                 Status do Valor de Venda
Estado - Sigla Municipio      NumHabitantes2021
AC             RIO BRANCO     419452                                 1090
GO             GOIANIA        1555626                                1667
MG             BELO HORIZONTE 2530701                                 827
MS             CAMPO GRANDE   916001                                 1606
PR             CURITIBA       1963726                                1291
RJ             RIO DE JANEIRO 6775561                                2445
RN             NATAL          803739                                 1093
RO             PORTO VELHO    548952                                  805
RS             PORTO ALEGRE   1492530                                1142
SP             CAMPINAS       1223237                                1605
               INDAIATUBA     260690                                  562
               SANTOS         433991                                  459
               SAO PAULO      12396372                               5220
               SAO VICENTE    370839                                  453
TO             PALMAS         313349                                  369